.backgroundIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  position: absolute;
  top: calc(50% - 8px);
  right: 8px;
  display: inline-block;
  width: 37px;
}
.pxIcon {
  top: calc(50% - 9px);
  left: 8px;
  width: 18px;
  height: 18px;
}
.pxIcon,
.pxIcon1,
.pxIcon2 {
  position: absolute;
  display: none;
}
.pxIcon1 {
  top: calc(50% - 9px);
  left: 28px;
  width: 18px;
  height: 18px;
}
.pxIcon2 {
  left: 48px;
}
.pxIcon2,
.pxIcon3,
.pxIcon4 {
  top: calc(50% - 9px);
  width: 18px;
  height: 18px;
}
.pxIcon3 {
  position: absolute;
  left: 68px;
  display: none;
}
.pxIcon4 {
  left: 88px;
}
.carrierName,
.pxIcon4,
.pxIcon5 {
  position: absolute;
  display: none;
}
.pxIcon5 {
  top: calc(50% - 9px);
  right: 106px;
  width: 18px;
  height: 18px;
}
.carrierName {
  top: calc(50% - 8px);
  left: 8px;
  text-align: left;
  width: 43px;
  height: 16px;
}
.batteryStdIcon,
.signalCellular4BarIcon,
.signalWifi4BarIcon {
  position: absolute;
  top: calc(50% - 9px);
  right: 86px;
  width: 18px;
  height: 18px;
}
.batteryStdIcon,
.signalCellular4BarIcon {
  right: 66px;
}
.batteryStdIcon {
  right: 46px;
}
.statusBardark {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nativeandroidstatusBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 24px;
  text-align: right;
  color: var(--color-gray-1300);
  font-family: var(--font-roboto);
}
.iconfeatherarrowLeft {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.headerText {
  flex: 1;
  position: relative;
  letter-spacing: 0.16px;
  line-height: 24px;
  display: none;
}
.appBar,
.verifyYourDetails {
  position: absolute;
  font-size: var(--ui-heading-heading-5-size);
}
.appBar {
  top: 24px;
  left: 0;
  background-color: var(
    --light-surface-background-sz-colour-surface-background
  );
  width: 360px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.verifyYourDetails {
  top: 194px;
  left: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  display: inline-block;
  width: 328px;
}
.buttonText,
.weAskThe {
  letter-spacing: 0.26px;
  line-height: 20px;
}
.weAskThe {
  position: absolute;
  top: 226px;
  left: 17px;
  color: var(--secondary-grey-grey-90);
  display: inline-block;
  width: 327px;
}
.buttonText {
  flex: 1;
  position: relative;
}
.button {
  position: absolute;
  top: 606px;
  left: 16px;
  border-radius: var(--br-md);
  background-color: var(--action-primary-sz-colour-action-primary);
  width: 328px;
  height: 54px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--component-body-body-bold-1-size);
  color: var(--light-surface-background-sz-colour-surface-background);
}
.buttonText1 {
  position: relative;
  letter-spacing: 1px;
  line-height: 12px;
  text-transform: uppercase;
}
.textButton {
  position: absolute;
  top: 562px;
  left: 204px;
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--component-body-body-bold-3-size);
  color: var(
    --light-typography-secondary-action-sz-colour-typo-action-secondary
  );
}
.label {
  position: relative;
  letter-spacing: 0.26px;
  line-height: 18px;
}
.remixIconslinesystemerror {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.labelIcon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.helperText {
  flex: 1;
  position: relative;
  letter-spacing: 0.32px;
  line-height: 14px;
}
.frameHelperText,
.labelFrame {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameHelperText {
  display: none;
  flex-direction: row;
  font-size: var(--component-support-info-size);
  color: var(--secondary-grey-grey-80);
}
.labelFrame {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--typography-primary-sz-colour-typo-primary);
}
.cursor {
  position: relative;
  width: 2px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.textCursor {
  gap: var(--gap-3xs);
}
.leftContent,
.textCursor {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.remixIconslinesystemarrow {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.inputFrame {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(
    --light-surface-background-sz-colour-surface-background
  );
  border: 1px solid var(--secondary-grey-grey-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  color: var(--secondary-grey-grey-60);
}
.iconserror24px {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.frameHelperText1,
.iconHelperText {
  flex-direction: row;
  justify-content: flex-start;
}
.frameHelperText1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.iconHelperText {
  width: 328px;
  display: none;
  align-items: center;
  gap: var(--gap-2xs);
  font-size: var(--component-support-info-size);
  color: var(--secondary-grey-grey-80);
}
.inputMasterBox {
  align-self: stretch;
  display: flex;
  gap: var(--gap-sm);
}
.boxInputStyleBoxInac,
.inputField,
.inputMasterBox {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.boxInputStyleBoxInac {
  align-self: stretch;
  display: flex;
}
.inputField {
  position: absolute;
  top: 298px;
  left: 16px;
  width: 328px;
  display: none;
}
.labelText {
  position: relative;
  letter-spacing: 0.26px;
  line-height: 20px;
}
.labelTextContainer {
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.tooltipIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.tooltipIconContainer {
  display: none;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.helperText2 {
  flex: 1;
  position: relative;
  letter-spacing: 0.32px;
  line-height: 16px;
}
.helperTextContainer {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--component-body-body-bold-3-size);
  color: var(--secondary-grey-grey-80);
}
.input,
.inputTextContainer,
.trailingIconContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.inputTextContainer {
  flex: 1;
  padding: var(--padding-sm) 0;
  align-items: center;
}
.input,
.trailingIconContainer {
  padding: var(--padding-xs);
  align-items: flex-start;
}
.input {
  border-radius: var(--br-sm);
  background-color: var(
    --light-surface-background-sz-colour-surface-background
  );
  border: 1px solid var(--secondary-grey-grey-30);
  padding: var(--padding-md);
  align-items: center;
  gap: var(--gap-2xs);
  color: var(--secondary-grey-grey-60);
}
.textField {
  position: absolute;
  top: 470px;
  left: 16px;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.galleryImg51Icon {
  position: absolute;
  top: 94px;
  left: 87px;
  width: 185px;
  height: 62px;
  object-fit: cover;
}
.leadingIcon {
  position: relative;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  display: none;
}
.tabName {
  position: relative;
  letter-spacing: 0.24px;
  line-height: 20px;
}
.tabText,
.wrapper {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabText {
  flex-direction: row;
  gap: var(--gap-sm);
}
.wrapper {
  background-color: var(
    --light-surface-background-sz-colour-surface-background
  );
  flex-direction: column;
  padding: var(--padding-md);
}
.selectionIndicator {
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(
    --light-states-transition-disabled-surface-sz-colour-state-disabled-surface
  );
  height: 1px;
}
.selectionIndicatorContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tabsBase,
.wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabsBase {
  flex: 1;
  justify-content: flex-start;
}
.wrapper1 {
  align-self: stretch;
  background-color: var(
    --light-surface-background-sz-colour-surface-background
  );
  padding: var(--padding-md);
  justify-content: center;
}
.selectionIndicator1 {
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(
    --light-typography-secondary-action-sz-colour-typo-action-secondary
  );
  height: 2px;
}
.selectionIndicatorContainer1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-md);
  align-items: flex-start;
  justify-content: center;
}
.tabsBase1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(
    --light-typography-secondary-action-sz-colour-typo-action-secondary
  );
}
.tabs,
.trailingIconContainer1 {
  flex-direction: row;
  align-items: flex-start;
}
.tabs {
  position: absolute;
  top: 308px;
  left: 16px;
  width: 328px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--secondary-grey-grey-60);
}
.trailingIconContainer1 {
  align-self: stretch;
  display: none;
  padding: var(--padding-xs);
  justify-content: flex-start;
}
.textField1 {
  position: absolute;
  top: 370px;
  left: 16px;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.dontHaveAn,
.textButton1 {
  position: absolute;
  text-align: center;
}
.textButton1 {
  top: 752px;
  left: 204px;
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--component-body-body-bold-3-size);
  color: var(--secondary-pink-pink-80);
}
.dontHaveAn {
  top: 748px;
  left: 50px;
  letter-spacing: 0.26px;
  line-height: 20px;
}
.passwordAndDob {
  position: relative;
  background-color: var(
    --light-surface-background-sz-colour-surface-background
  );
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--ui-body-body-2-size);
  color: var(--typography-primary-sz-colour-typo-primary);
  font-family: var(--display-medium-sz-typo-display-bold-medium);
}
